$font-path: "~ionic-angular/fonts/";

@import "./app.variables";
@import "./app.sprites.scss";
@import "~ionic-angular/ionic.ios";

.icon {
  display: inline-block;
}

.ion-item-text{
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
}

.ion-select-full {
    width:100%;
    max-width: 100%;
}

.ion-list-no-bottom {
    margin-bottom:0;
}

.ion-label-text{
    color:$label-ios-text-color;
}